---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: atlantis
resources:
  - ./secret.sops.yaml
  - ./helm-release.yaml
  - ./ingress.yaml
commonLabels:
  app.kubernetes.io/name: atlantis
  app.kubernetes.io/instance: atlantis
