---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.15.6
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-operator
      namespace: rook-ceph
    # - name: snapshot-controller
    #   namespace: kube-system
  values:
    # https://artifacthub.io/packages/helm/rook/rook-ceph-cluster?modal=values
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard = true
      osd_class_update_on_start = false

    operatorNamespace: rook-ceph
    ingress:
      dashboard:
        ingressClassName: internal
        annotations:
          hajimari.io/appName: Rook
          hajimari.io/icon: mdi:chess-rook
        host:
          name: &host rook.${SECRET_DOMAIN}
          path: /
        tls:
          - hosts:
              - *host
    cephClusterSpec:
      network:
        provider: host
        connections:
          requireMsgr2: true
      mon:
        count: 3
        allowMultiplePerNode: false
      mgr:
        count: 1
        modules:
          - name: pg_autoscaler
            enabled: true
      crashCollector:
        disable: false
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
      storage:
        useAllNodes: false
        useAllDevices: false
        config:
          osdsPerDevice: "1"
        nodes:
          - name: k8s-0
            devices:
              - name: /dev/nvme0n1
          - name: k8s-1
            devices:
              - name: /dev/nvme0n1
          - name: k8s-2
            devices:
              - name: /dev/nvme0n1
      resources:
        mgr:
          limits:
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 500Mi
        mon:
          limits:
            memory: 2Gi
          requests:
            cpu: 100m
            memory: 500Mi
        osd:
          limits:
            memory: 4Gi
          requests:
            cpu: 100m
            memory: 1500Mi
        mgr-sidecar:
          limits:
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 40Mi
        crashcollector:
          limits:
            memory: 60Mi
          requests:
            cpu: 100m
            memory: 10Mi
        logcollector:
          limits:
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 100Mi
        cleanup:
          limits:
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 100Mi
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete

    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          parameters:
            imageFormat: "2"
            imageFeatures: layering
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4

    cephFileSystems: null
    cephObjectStores: null
