---
# yaml-language-server: $schema=https://raw.githubusercontent.com/JJGadgets/flux2-schemas/main/gitrepository-source-v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: local-path-provisioner
  namespace: flux-system
spec:
  interval: 30m
  url: https://github.com/rancher/local-path-provisioner
  ref:
    tag: v0.0.30
  ignore: |
    # exclude all
    /*
    # include kubernetes directory
    !/deploy/chart/local-path-provisioner
