[
  {
    "id": "test",
    "execute-command": "/var/scripts/test.sh",
    "command-working-directory": "/home/kmuser"
  },
  {
    "id": "restart-app",
    "execute-command": "/var/scripts/restart_amper.sh",
    "command-working-directory": "{{ working_dir }}"
  }
]
