# k8s
kubeconfig

# vscode-sops
.decrypted~*.yaml
.config.env
configure.sh

# downloaded compressed files
hack/*.gz
hack/*.zst

# nvidia tests
nvidia*.yaml


### Ansible ###
*.retry
xanmanning.k3s*

## secrets ##
.sops.dec.env
provision/ansible/other/hosts.yml
github-deploy-key*

### Helm ###
# Chart dependencies
**/charts/*.tgz

.code-workspace

# vscode-sops
.decrypted~*.yaml

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*


## Trash
.DS_Store
Thumbs.db
megalinter-reports
*.swp
