# k8s
kubeconfig

# vscode-sops
.decrypted~*.yaml
.config.env
configure.sh
.sops.dec.env


### Ansible ###
*.retry
xanmanning.k3s*


### Helm ###
# Chart dependencies
**/charts/*.tgz

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# vscode-sops
.decrypted~*.yaml

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*


## Trash
.DS_Store
Thumbs.db
