---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kapowarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      kapowarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mrcas/kapowarr
              tag: v1.2.0@sha256:484f7decc7cc7af77542aba5516f48a62b17f72116ac7309d1709b72bb7d0ba2
            env:
              TZ: Europe/Paris
            # securityContext:
            #   runAsUser: 1000
            #   runAsGroup: 100
            #   runAsNonRoot: true
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: false
            #   capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                memory: 1G
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/db
      media:
        type: nfs
        server: nas.internal
        path: /mnt/storage0/media
        globalMounts:
          - path: /media
    route:
      app:
        annotations:
          glance/show: "true"
          glance/icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/kapowarr.png
        hostnames:
          - "{{ .Release.Name }}.juno.moe"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: app
                port: &port 5656
    service:
      app:
        ports:
          http:
            port: *port
