---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tailscale
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-metallb
  path: ./kubernetes/apps/networking/tailscale-gateway/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: tailscale-gateway
      namespace: networking
  interval: 30m
  retryInterval: 1m
  timeout: 3m
