---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: actual
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: ${USER_ID}
            runAsGroup: ${USER_ID}
            fsGroup: ${USER_ID}
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: ghcr.io/actualbudget/actual-server
              tag: 24.4.0@sha256:bfb03445dde175f8e63a6cd879fdc107bc2cca68ae74f65d323178e8c9b738e7

    service:
      main:
        ports:
          http:
            port: 5006

    ingress:
      main:
        enabled: true
        # className: "internal-nginx"
        className: "nginx"
        hosts:
          - host: finance.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - finance.${SECRET_DOMAIN}
    persistence:
      data:
        enabled: true
        existingClaim: actual-pvc
        advancedMounts:
          main:
            main:
              - path: /data
