---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
  namespace: &namespace default
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: dragonfly-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: kube-system
  path: ./kubernetes/apps/default/paperless/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 6Gi
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 1h
  retryInterval: 1m
  timeout: 5m
