---
# yaml-language-server: $schema=https://crd.movishell.pl/keda.sh/scaledobject_v1alpha1.json
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: minecraft-scheduled
spec:
  scaleTargetRef:
    name: minecraft
  minReplicaCount: 0
  cooldownPeriod: 300
  triggers:
    - type: cron
      metadata:
        timezone: Europe/Paris
        start: 0 6 * * *
        end: 0 1 * * *
        desiredReplicas: "1"
