---
# yaml-language-server: $schema=https://crd.movishell.pl/keda.sh/scaledobject_v1alpha1.json
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: minecraft-scheduled
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: minecraft
  minReplicaCount: 0
  maxReplicaCount: 1
  triggers:
    # Scale down to 0 at 1 AM
    - type: cron
      metadata:
        timezone: Europe/Paris
        start: 0 1 * * *
        end: 0 5 * * *
        desiredReplicas: "0"
    # Scale up to 1 at 5 AM (and stay up until 1 AM)
    - type: cron
      metadata:
        timezone: Europe/Paris
        start: 0 5 * * *
        end: 0 1 * * *
        desiredReplicas: "1"
