---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-dns-cloudflare
  namespace: flux-system
spec:
  targetNamespace: network
  dependsOn:
    - name: cluster-apps-external-secrets-stores
  path: ./kubernetes/apps/network/external-dns/cloudflare
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-dns-unifi
  namespace: flux-system
spec:
  targetNamespace: network
  dependsOn:
    - name: cluster-apps-external-secrets-stores
  path: ./kubernetes/apps/network/external-dns/unifi
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
