---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
  - ./atuin/ks.yaml
  - ./glance/ks.yaml
  - ./karakeep/ks.yaml
  - ./docmost/ks.yaml
  - ./minecraft/ks.yaml
  # - ./affine/ks.yaml # Waiting for stable version and unsecure
