---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
  namespace: observability
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: victoria-logs-single
      version: 0.11.28
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: flux-system
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: victoria-logs

    server:
      enabled: true
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      retentionPeriod: 14d
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true
      route:
        enabled: true
        hostnames:
          - logs.juno.moe
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /
