---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: victoria-logs
  namespace: observability
spec:
  hostnames:
    - logs.juno.moe
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: internal
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: victoria-logs
          namespace: observability
          port: 9428
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
