---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-atlantis
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/apps/atlantis/atlantis/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  dependsOn:
    - name: apps-cert-manager
    # - name: apps-traefik-forward-auth
