---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app libreddit
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    fullNameOverride: *app
    image:
      repository: ghcr.io/auricom/libreddit
      tag: 0.30.1@sha256:327748b1d8af82c708e618ee382cc6ee57c30726e4a3d100c66c35b56b3fd182
    env:
      LIBREDDIT_DEFAULT_SHOW_NSFW: on
      LIBREDDIT_DEFAULT_WIDE: on
      LIBREDDIT_DEFAULT_USE_HLS: on
      LIBREDDIT_DEFAULT_HIDE_HLS_NOTIFICATION: on
    service:
      main:
        ports:
          http:
            port: &port 8080
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/icon: simple-icons:reddit
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    # topologySpreadConstraints:
    #   - maxSkew: 1
    #     topologyKey: kubernetes.io/hostname
    #     whenUnsatisfiable: DoNotSchedule
    #     labelSelector:
    #       matchLabels:
    #         app.kubernetes.io/name: *app
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /settings
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false

    podAnnotations:
      reloader.stakater.com/auto: "true"
      setGateway: "true"

    resources:
      requests:
        cpu: 5m
        memory: 50Mi
      limits:
        memory: 250Mi
