server:
  port: 80
  proxied: true
theme:
  light: true
  background-color: 240 5 98
  contrast-multiplier: 1.2
  primary-color: 217 70 25
  positive-color: 115 60 30
  negative-color: 347 70 35
pages:
  - name: Startpage
    width: slim
    hide-desktop-navigation: true
    center-vertically: true
    columns:
      - size: full
        widgets:
          - type: search
            search-engine: kagi
            autofocus: true

          - type: extension
            url: http://glance-k8s-extension:8080/extension/apps
            allow-potentially-dangerous-html: true
            cache: 1s
            parameters:
              show-if: |
                namespace != "kube-system" and
                ("glance/hide" in annotations || annotations["glance/show"] == "true")

          - type: bookmarks
            groups:
              - title: Infrastructure
                color: 200 50 50
                links:
                  - title: Unifi
                    url: https://unifi.ui.com/consoles
                  - title: Cloudflare
                    url: https://dash.cloudflare.com/

              - title: Code & Git
                color: 217 70 25
                links:
                  - title: Home-Ops Repo
                    url: https://github.com/axeII/home-ops
                  - title: Git Cleaner
                    url: https://gitcleaner.com
                  - title: GitHub Folder Download
                    url: https://download-directory.github.io/

              - title: Kubernetes
                color: 115 60 30
                links:
                  - title: Artifact Hub
                    url: https://artifacthub.io
                  - title: k8s-at-home Search
                    url: https://nanne.dev/k8s-at-home-search/
                  - title: K8S Exam Simulator
                    url: https://killer.sh
                  - title: Dashboard Icons
                    url: https://dashboardicons.com/

              - title: DNS & Networking
                color: 180 60 45
                links:
                  - title: DNSChecker
                    url: https://dnschecker.org
                  - title: ViewDNS
                    url: https://viewdns.info
                  - title: BGP View
                    url: https://bgp.he.net

              - title: Security Intelligence
                color: 347 70 35
                links:
                  - title: Shodan
                    url: https://shodan.io
                  - title: GreyNoise
                    url: https://greynoise.io
                  - title: Intel X
                    url: https://intelx.io
                  - title: GrayHatWarfare
                    url: https://grayhatwarfare.com

              - title: Utilities
                color: 270 50 50
                links:
                  - title: GPP Tools
                    url: https://gpptools.com
                  - title: Archive.si
                    url: https://archive.si

              - title: Personal
                color: 160 50 50
                links:
                  - title: Music (Tidal)
                    url: https://tidal.squid.wtf/
                  - title: Diving Sites
                    url: https://divesites.com
