server:
  port: 80
  proxied: true
theme:
  light: true
  background-color: 240 5 98
  contrast-multiplier: 1.2
  primary-color: 217 70 25
  positive-color: 115 60 30
  negative-color: 347 70 35
pages:
  - name: Startpage
    width: slim
    hide-desktop-navigation: true
    center-vertically: true
    columns:
      - size: full
        widgets:
          - type: search
            search-engine: kagi
            autofocus: true

          - type: extension
            url: http://glance-k8s-extension:8080/extension/apps
            allow-potentially-dangerous-html: true
            cache: 1s
            parameters:
              show-if: |
                namespace != "kube-system" and
                ("glance/hide" in annotations || annotations["glance/show"] == "true")

          - type: bookmarks
            groups:
              - title: Admin
                color: 200 50 50
                links:
                  - title: Unifi
                    url: https://unifi.ui.com/consoles
                  - title: "Cloudflare dashboard"
                    url: https://dash.cloudflare.com/
                  - title: Home-Ops
                    url: https://github.com/axeII/home-ops

              - title: DevOps
                color: 200 50 50
                links:
                  - title: Helmcharts
                    url: https://artifacthub.io
                  - title: k8s-at-home-search
                    url: https://nanne.dev/k8s-at-home-search/
                  - title: Git-cleaner
                    url: https://gitcleaner.com
                  - title: K8S Exam simulator
                    url: https://killer.sh
                  - title: Github-download-folder
                    url: https://download-directory.github.io/

              - title: Network & Security
                color: 200 50 50
                links:
                  - title: Shodan
                    url: https://shodan.io
                  - title: Greynoise
                    url: https://greynoise.io
                  - title: BGP View
                    url: https://bgp.he.net
                  - title: ViewDNS
                    url: https://viewdns.info

              - title: Archive & Fun
                color: 200 50 50
                links:
                  - title: Archive
                    url: https://archive.si
                  - title: Music
                    url: https://tidal.squid.wtf/
                  - title: Diving-sites
                    url: https://divesites.com
                  - title: Cool icons
                    url: https://dashboardicons.com/


              - title: Intelligence & Tools
                color: 200 50 50
                links:
                  - title: Intelx
                    url: https://intelx.io
                  - title: GrayHatWarFare
                    url: https://grayhatwarfare.com
                  - title: GPP Tools
                    url: https://gpptools.com
                  - title: DNSChecker
                    url: https://dnschecker.org
