#!/bin/bash

qm create {{ vm_tmpl_id }} -name {{ vm_tmpl_name }} -memory 1024 -net0 virtio,brvm_tmpl_idge=vmbr0 -cores 1 -sockets 1 -cpu cputype=kvm64 -description "Rocky 8 cloud image" -kvm 1 -numa 1
qm set {{ vm_tmpl_id }} -scsihw virtio-scsi-pci -virtio0 local-nfs:vm-{{ vm_tmpl_id }}-disk-1
qm set {{ vm_tmpl_id }} -serial0 socket
qm set {{ vm_tmpl_id }} -boot c -bootdisk virtio0
qm set {{ vm_tmpl_id }} -agent 1
qm set {{ vm_tmpl_id }} -hotplug disk,network,usb,memory,cpu
qm set {{ vm_tmpl_id }} -vcpus 1
qm set {{ vm_tmpl_id }} -vga qxl
qm set {{ vm_tmpl_id }} -name rocky-8-template
qm set {{ vm_tmpl_id }} -vm_tmpl_ide2 local-nfs:cloudinit
