---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app karma
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      karma:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: karma-configmap
        containers:
          app:
            image:
              repository: ghcr.io/prymitive/karma
              tag: v0.125@sha256:1e893dc445ccb878a3a7880a4b0da53b6ac4e04096c654ff349c2d63eccdf588
            env:
              CONFIG_FILE: &config /config/config.yaml
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    route:
      app:
        annotations:
          glance/show: "true"
          # glance/icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/prowlarr.png
        hostnames:
          - "{{ .Release.Name }}.juno.moe"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      config:
        type: emptyDir
      config-file:
        type: configMap
        name: karma-configmap
        globalMounts:
          - path: *config
            subPath: config.yaml
            readOnly: true
    serviceMonitor:
      app:
        endpoints:
          - port: http
