---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-proxmox
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-ingress-nginx
  path: ./kubernetes/apps/external/proxmox/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: proxmox
      namespace: external
  interval: 30m
  retryInterval: 1m
  timeout: 3m
