---
name: MegaLinter

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'


concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: MegaLinter
        uses: megalinter/megalinter@55a59b24a441e0e1943080d4a512d827710d4a9d # v9
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}
          PRINT_ALPACA: false
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          ENABLE_LINTERS: ACTION_ACTIONLINT, BASH_SHELLCHECK, DOCKERFILE_HADOLINT, ENV_DOTENV_LINTER, GIT_GIT_DIFF, JSON_JSONLINT, KUBERNETES_KUBEVAL, MARKDOWN_MARKDOWNLINT, YAML_YAMLLINT
          KUBERNETES_DIRECTORY: kubernetes
          KUBERNETES_KUBEVAL_ARGUMENTS: --ignore-missing-schemas
          MARKDOWN_MARKDOWNLINT_CONFIG_FILE: .github/linters/.markdownlint.yaml
          YAML_YAMLLINT_CONFIG_FILE: .github/linters/.yamllint.yaml
          SHELLCHECK_OPTS: "-e SC2086"

      - name: Archive production artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: MegaLinter reports
          path: |
            report
            mega-linter.log
