---
name: MegaLinter

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: MegaLinter
        uses: megalinter/megalinter/flavors/terraform@839e6d63c0423eb74ce2578225f8b8b4bed63ede # v8
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}
          PRINT_ALPACA: false
          GITHUB_TOKEN: "${{ secrets.TOKEN }}"
          ENABLE_LINTERS: ACTION_ACTIONLINT, ANSIBLE_ANSIBLE_LINT, BASH_SHELLCHECK, DOCKERFILE_HADOLINT, ENV_DOTENV_LINTER, GIT_GIT_DIFF, JSON_JSONLINT, KUBERNETES_KUBEVAL, MARKDOWN_MARKDOWNLINT, TERRAFORM_TFLINT, YAML_YAMLLINT
          ANSIBLE_DIRECTORY: ansible
          ANSIBLE_ANSIBLE_LINT_CONFIG_FILE: .ansible-lint
          KUBERNETES_DIRECTORY: cluster
          KUBERNETES_KUBEVAL_ARGUMENTS: --ignore-missing-schemas
          MARKDOWN_MARKDOWNLINT_CONFIG_FILE: .markdownlint.yaml
          TERRAFORM_TFLINT_CONFIG_FILE: .tflint.hcl
          YAML_YAMLLINT_CONFIG_FILE: .yamllint.yaml
          SHELLCHECK_OPTS: "-e SC2086"

      - name: Archive production artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: MegaLinter reports
          path: |
            report
            mega-linter.log
