---
name: Pluto

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Use pluto
        run: |
          pluto detect-files -d ./kubernetes
