---
name: Pluto

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Use pluto
        run: |
          pluto detect-files -d ./kubernetes
