---
name: PR Check

on:
  pull_request:
    branches: ["main"]

jobs:
  scan:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      - uses: harupy/find-trailing-whitespace@master
      - name: "Gitleaks checks"
        uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Copy changed files"
        run: |
          mkdir testfiles
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ "$file" == .github/* ]]; then
              continue
            fi
            if [ -f "$file" ]; then
              cp --parents "$file" testfiles
            fi
          done
      - name: "Yamllint checks"
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_config_filepath: .github/linters/.yamllint.yaml
          yamllint_file_or_dir: "testfiles"
          yamllint_strict: false
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
